.m-t-2 {
  margin-top: 20px;
}

.m-b-2 {
  margin-bottom: 20px;
}

.link-text {
  cursor: pointer;
  text-decoration: underline;
  font-style: italic;
  font-size: 12px;
  color: blue;
}

.form-label {
  font-size: 13px;
  margin-bottom: 0px;
}

.interactive-item {
  cursor: pointer;
}

.interactive-item:hover {
  background-color: #ddd;
}
